.head {
    font-family: Georgia, 'Times New Roman', Times, serif;

}



body {
    background-color: #DDA0DD;
    width: 100%;
    margin-left: 0px;
}

.contact {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    right: 20px;
    padding: 2px;
    border-bottom: 1px solid black;
}


.navigate {
    display: flex;
    justify-content: space-around;
    background-color: #E6E6FA;
    border-radius: 5px;
    width: 100%;
    font-size: 21px;
    font-family: Impact, fantasy, sans-serif;
    padding-bottom: 10px;
}

.address a{
    padding-top: 4px;
    padding-left: 4px;
    color: black;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
   
}


.address a:hover {
    border-radius: 10px;
    border-bottom: dotted;
    color: dimgray;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20%;
    width: 47%;
    background-color: #E6E6FA;
    padding: 75px;
    border-radius: 20px;
    flex-direction: column;
    background-image: url(https://sun9-43.userapi.com/1gCW50kAo_kStsg0E-W5ywN38VogGXAbKDxFqg/7GhPOiLT8cs.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.form div{
    margin: 20px;
    size: 400px;
}


.info a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.info a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}

.home a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.home a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}

.me a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.me a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}

.price a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.price a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}


