.head {
    font-family: Georgia, 'Times New Roman', Times, serif;

}



body {
    background-color: #DDA0DD;
    width: 100%;
    margin-left: 0px;
}

.contact {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    right: 20px;
    padding: 2px;
    border-bottom: 1px solid black;
}


.name {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.address a{
    padding-top: 4px;
    padding-left: 4px;
    color: black;
    text-decoration: none;
    font-size: 20px;
   
}


.address a:hover {
    border-bottom: dotted;
    color: white;
}

.mk {
    display: flex;
    justify-content: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}


.navigate {
    display: flex;
    justify-content: space-around;
    background-color: #E6E6FA;
    width: 100%;
    font-size: 21px;
    font-family: Impact, fantasy, sans-serif;
    padding-bottom: 10px;
}

.photo {
    display: flex;
    justify-content: center;

}

.info a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.info a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}

.home a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #DDA0DD;
}

.home a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}


.me a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.me a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}

.price a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.price a:hover {
    background-color: #DDA0DD;
    text-decoration: dotted;
}

.home_body {
    margin: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid black;
    padding-left: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.photo_work {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    background-image: url(../fon.jpg);
    margin-top: 20px;

}

.work {
    display: flex;
    justify-content: center;
    background-color: #E6E6FA;
    margin-left: 25%;
    margin-right: 18%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 60px;
}


.about1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 30px;
}

.about2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 30px;
}

.about3 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 30px;
}

.about4 {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 0px;
    border-top: 3px solid black;

}

.textarea {
    size: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

.sumbit {
    margin-left: 25px;
    margin-bottom: 10px;
}